.container
  %h3 Наши партнеры:
  %ul
    %li
      %h4 Malakhov Fondation gGmbH
      %p
      %ul{:style => "list-style-type:none"}
        %li Olga Klurfeld
        %li Sachsendamm 68-70, 10829 Berlin
    %li
      %h4 Moscow Ballet Company
      %ul{:style => "list-style-type:none"}
        %li
          %b web:
          %a{:href => "http://nutcracker.com"} nutcracker.com


