.container
  %h3 ТЕАТР КЛАССИЧЕСКОГО БАЛЕТА
  .row
    .div.span8
      %p
        Был создан как антреприза в 2006 г. Для показа балета «Щелкунчик» в США.
        В 2007 г. Труппа зарегистрирована как частное предприятие в г. Киев.
        С августа зарегистрирована в г. Одессе.
        %a{:href => "partners"} Учредители
        Буковский Вячеслав Евгениевич и Трощенко Владимир Николаевич.
        Труппа в данный момент занимается только гастрольной деятельностью. С 2007 года ежегодно в течении двух месяцев труппа гастролирует в США и Канаде. В репертуаре  балетные постановки на муз П.И.Чайковского «Щелкунчик» и «Лебединое озеро».Также в 2008-2009 годах успешно прошли гастроли в России и Украине. С 2011 года несколько гастрольных  туров  по Румынии с показом балета «Лебединое озеро» в Бухаресте, «Спящая красавица» успешно показана во всех балетных театрах Украины.
      %p
        Полная версия постановки
        %a{:href => "video"} «Щелкунчик»
        в двух актах продолжительность 110 минут с антрактом.
        %br/
        Декорация: Задники - 3,супер занавес - 1.елка - 1,кулисы и падуги - 2 плана.
        %br/
        Занято: 28-29 артистов балета, состав техников - 8. Всего 37 человек.
      %p
        Полная версия постановки
        %a{:href => "video"} «Лебединое озеро»
        в двух актах продолжительность 130 минут с антрактом.
        %br/ 
        Декорация: Задники - 3, кулисы и падуги - 3 плана.
        %br/
        Занято: 30-32 артиста балета, состав техников - 8. Всего: 40 человек.
      %p
        Все костюмы и декорации выполнены лучшими мастерами Одесского и Киевского театров оперы и балета 
        Балеты «Щелкунчик» (оригинальная редакция) и «Лебединое озеро» поставлены балетмейстером Владимиром Трощенко, который окончил Санкт-Петербуржскую академию танца в 1973 году и Российскую академию театрального искусства как балетмейстер-режиссёр в 1992 году с отличием (пред.госкомиссии О.Лепешинская).
        Постановки осуществлены в лучших традициях Санкт-Петербуржской школы танца продолжая и наследуя опыт таких мастеров как Н.Макарова, Р.Нуриев, М.Барышников.
      %p
        В 2015 г. на сцене Одесского оперного театра была показана премьера оригинального балета « Ромео и Джульетта» в стиле модерн на музыку современных композиторов.
      %p
        В сотаве труппы выступали солисты:
        %ul
          %li
            %a{:href => "https://www.facebook.com/ekaterina.bortiakova"}Екатерина Бортякова
            и
            %a{:href => "https://www.facebook.com/akzhol.mussahanov"}Акжол Мусаханов
            солисты «Русский балет» Англия г.Свонси
          %li Заслуженные артисты Украины Ольга Рожевич (Одесса), Геннадий Жало (Киев)
          %li Заслуженные артисты Молдовы, лауреаты международных конкурсов Кристина Терентьева (Грап-при Варна 2009г), Алексей Терентьев
          %li Примы балерины Большого театра Мария Аллаш,Елена Андриенко
          %li Прима Киевской национальной оперы Татьяна Голикова
          %li
            Премьер Киевской национальной оперы 
            %a{:href => "https://www.facebook.com/denys.nedak"}Денис Недак
          %li и др.
      %p
        Неизменный артистический директор труппы с 2007 года - Владимир Николаевич Трощенко.
      %br
    .div.span4
      =image_tag("Troshchenko")
