.container
  .row
    %div.span7
      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/8rZPb-t6mUo", :width => "490"}
    %div.span3
      %h4 Промо видео спектакля "Лебединое озеро"
    %div.span7
      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/U0Ukz1wu4iM", :width => "490"}
    %div.span3
      %h4 Промо видео спектакля "Спящая красавица"
    %div.span7
      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/gW-KDuo6IoQ", :width => "490"}
    %div.span3
      %h4 Промо видео спектакля "Ромео и Джульетта"
    %div.span7
      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/BH1Ci0J2j5g", :width => "490"}
    %div.span3
      %h4 Промо концерт со звездами итальянской оперы

